.baneer {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 6rem;
  min-height: 100vh; */
  width: 1220px;
  margin: 50px auto
}

.noticia {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* padding: 6rem;
  min-height: 100vh; */
  width: 1220px;
  margin: 50px auto
}