.categoria {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
  .categoria > div {
    display: flex;
  }
  
  .link {
    display: block;
    padding: 20px 15px;
  }
  
  .link:hover {
    background-color: rgb(38, 111, 180);
    color: white;
  }